* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.container {
  display: flex;
  height: 100%;
  background-color: #f8f8fa;
}

/* Sidebar styling */
.sidebar {
  width: 248px;
  background-color: #343549;
}

.sidebar #logo {
  height: 68px;
  color: #ebecf1;
  text-align: center;
  font-size: 22px;
  line-height: 3;
}

.sidebar #main-text {
  height: 47px;
  margin: 0 18px 0 18px;
  color: #ebecf1;
  font-size: 10px;
  line-height: 4;
}

.sidebar .menu {
  list-style: none;
}

.sidebar .menu a {
  color: #8b93a6;
  text-decoration: none;
}

.sidebar .menu li {
  height: 52px;
  padding: 0 18px 0 18px;
  font-size: 15px;
  padding-top: 16px;
  color: #8b93a6;
}

.sidebar .menu .active {
  background-color: #393c4f;
  color: #ebecf1;
}

.sidebar .menu li i {
  margin-right: 10px;
}

.sidebar .menu li .badge-sb {
  float: right;
}

.sidebar .menu li .arrow {
  float: right;
}

.content {
  flex: 1;
}

/* Topbar styling */
.content .topbar {
  height: 68px;
  background-color: #edecf1;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.topbar .left {
  flex: 1;
}

.topbar .menu {
  border: none;
  font-size: 18px;
  margin-left: 20px;
  color: #4f5379;
}

.topbar .create {
  height: 35px;
  font-size: 13px;
  margin-left: 20px;
  border: none;
  padding: 0 15px;
  background-color: #f8f9fb;
  border-radius: 5px;
}

.topbar .create i {
  margin-left: 5px;
}

.topbar .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4f5379;
}

.topbar .right section {
  color: #4f5379;
}

.topbar .right img {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  margin-right: 7px;
}

.topbar .notification {
  margin-right: 9px;
}

.topbar .notification i {
  color: #4f5379;
  font-size: 20px;
}

.topbar .badge-tb {
  padding: 0 5px;
  font-size: 12px;
  position: relative;
  width: 18px;
  top: -13px;
  left: -16px;
}

.topbar .screenshot-icon i {
  font-size: 15px;
  margin-right: 38px;
}

.topbar .lang-drop-down * {
  padding: 0 3px;
  font-size: 15px;
}

.topbar .lang-drop-down {
  margin-right: 36px;
}

.topbar .search input {
  height: 33px;
  width: 194px;
  background-color: #e1e1eb;
  border: none;
  padding-left: 10px;
  border-radius: 20px;
  font-size: 13px;
}

.topbar .search i {
  position: relative;
  font-size: 12px;
  left: -30px;
  color: #9ea4b0;
  margin-right: 10px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #656a70;;
}

.main-content section {
  border-color: transparent;
  border-style: solid;
  background-clip: padding-box;
}

.title {
  flex-basis: 50%;
  border-width: 24px 15px 17px 30px;
}

.title h4 {
  color: #656a70;
}

.title p {
  font-size: 13px;
  margin-top: 10px;
}

.settings-btn {
  flex-basis: 50%;
  border-width: 24px 30px 17px 15px;
  text-align: end;
  margin: auto 0;
}

.settings-btn button {
  border: none;
  height: 34px;
  width: 100px;
  background-color: #6270d1;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.settings-btn button span { 
  padding-left: 5px;
}

.stat-group {
  flex-basis: 100%;
  border-width: 17px 30px 15px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat-card {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo name percent"
                       "logo value value"
                       "time-s time-s nxt";
  height: 153px;
  width: 260px;
  background-color: #6270d1;
  border-radius: 5px;
  padding: 10px 0 20px 20px;
  margin-bottom: 10px;
}

.stat-card .logo {
  grid-area: logo;
  align-self: center;
  font-size: 30px;
  color: white;
}
.stat-card .logo i {
  padding: 15px;
  background-color: #7c83db;
}

.stat-card .name {
  grid-area: name;
  grid-column-end: span 2;
  color: #b6bfe6;
  font-weight: bold;
  align-self: center;
}

.stat-card .percent {
  grid-area: percent;
  align-self: center;
  color: white;
  width: 100%;
  height: 27px;
  line-height: 1.6;
  text-align: center;
}

/* Ribbon arrow */
.stat-card .percent::before {
  content: '';
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 20px solid #6270d1;
  position: absolute;
  margin-left: -22px;
}

.stat-card .value {
  grid-area: value;
  color: white;
  font-size: 25px;
}
.stat-card .value i {
  padding-left: 15px;
  font-size: 15px;
}

.stat-card .time-s {
  grid-area: time-s;
  align-self: flex-end;
  color: #b6bfe6;
}

.stat-card .nxt {
  grid-area: nxt;
  justify-self: end;
  align-self: flex-end;
  padding-right: 20px;
  color: #b6bfe6;
}

.transaction {
  flex-basis: 66%;
  border-width: 17px 15px 20px 30px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.people {
  margin-top: 25px;
  width: 100%;
  border-collapse: collapse;
}

.people th, .people td {
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  text-align: left; 
  padding: 16px 0 16px 0;
  font-size: 15px;
}

.people tbody:last-child * {
  border-bottom: none;
}

tr.active {
  background-color: #f8f9fb;
}

thead th {
  border-bottom-width: 2px !important;
}

.people #image {
  width: 60px;
}

.people img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.btn-edit {
  font-size: 13px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #666ed9;
}

.chat-box {
  flex-basis: 34%;
  border-width: 17px 30px 20px 15px;
  background-color: white;
  padding: 20px;
  position: relative;
}

.mesg-box {
  position: absolute;
  bottom: 20px;
  width: 89%;

}

.mesg-box input {
  height: 36px;
  width: 75%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  font-size: 15px;
  padding-left: 10px;
}

.mesg-box button {
  font-size: 14px;
  color: white;
  background-color: #2da299;
  border: none;
  padding: 9px;
  border-radius: 3px;
  float: right;
}

.chat-box .received {
  text-align: end;
}

/* Badge design */
.badge {
  color: white;
  width: 25px;
  text-align: center;
  border-radius: 10px;
}

/* Colors for badges */
.color-6573d4 {
  background-color: #6573d4;
}
.color-2d9e98 {
  background-color: #2d9e98;
}
.color-fa4564 {
  background-color: #fa4564;
}

/* Status codes */
.status-d {
  font-size: 11px !important;
  color: white;
  background-color: #25a79b;
  border-radius: 5px;
  padding: 1px;
}
.status-p {
  font-size: 11px !important;
  color: white;
  border-radius: 5px;
  padding: 1px;
  background-color: #f7b11d;
}
.status-c {
  font-size: 11px !important;
  color: white;
  border-radius: 5px;
  padding: 1px;
  background-color: #ef4761;
}

/* Ribbon design */
.ribbon-green {
  background-color: #28a595;
}
.ribbon-blue {
  background-color: #37a4f7;
}
.ribbon-red {
  background-color: #ea4661;
}
.ribbon-yellow {
  background-color: #f9b129;
}

/* Value colors */
.fa-arrow-up {
  color: #28a595;
}
.fa-arrow-down {
  color: #ea4661;
}